{
    "singleQuote": true,
    "endOfLine": "lf",
    "semi": false,
    "useTabs": true,
    "overrides": [
        {
            "files": ["**/*.css", "**/*.scss", "**/*.html"],
            "options": {
                "singleQuote": false
            }
        }
    ]
}